{% extends "CoobixAdminBundle:Default:new.html.twig" %}



{% block breadcrumb_in %}
<div class="breadcrumbs">
<a href="{{ path('cliente') }}" class="current" >Clientes</a>
<div class="breadcrumb_divider"></div> 
<a href="{{ path('cliente_new') }}" class="current" >Crear</a>
</div>
{% endblock breadcrumb_in %} 

{% block module_tit %}
Crear Cliente
{% endblock module_tit %}

{% block create_path %}
{{ path('cliente_create') }}
{% endblock create_path %}

{% block list_path %}
{{ path('cliente') }}
{% endblock list_path %}
