{% extends "UsuarioBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>Nombre de Usuario y/o Contraseña incorrecta.</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">

	

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
    <div class="left inputLoginWrap">

    	<label for="username">Usuario</label>
    
    	<input type="text" id="username" name="_username" value="{{ last_username }}" />

    </div>
    
    <div class="left inputLoginWrap">
    
    <label for="password">Contraseña</label>
    <input type="password" id="password" name="_password" />

    </div>
    
    <div class="fix"></div>
    
    
     {# 
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
	 #}
    
    
    <div class="right inputLoginWrap">
    
     <input type="submit" id="_submit" name="_submit" value="Enviar" />

    </div>
    
    <div class="fix"></div>
   
</form>
{% endblock fos_user_content %}
